@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;800&family=Public+Sans:wght@300;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Mulish", sans-serif;
}
/* Header section 
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 3% 5%;
  background-color: white;
}

.collapse {
  text-align: right;
}
.nav-item {
  margin-top: 20px;
}

nav h3 {
  font-weight: 700;
  font-size: 1rem;
  margin: auto 0;
  cursor: pointer;
}
nav h3 a {
  text-decoration: none;
  color: #00b4d8;
}

nav h3 a:hover {
  color: #00b4d8;
}
nav ul {
  list-style: none;
  margin: auto 0;
}

nav ul li {
  display: inline;
  margin: 15px;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 10px;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: #7d7987;
}

nav ul li a:hover {
  color: #ed76d5eb;
}

nav ul li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ed76d5eb;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li a:hover::before {
  transform: scaleX(1);
  transition: 0.3s ease-in-out;
} */

/* TechNova title page */
.title-page {
  padding: 0.5% 5%;
  height: 100vh;
  position: relative;
}
.tech-logo {
  max-width: 25%;
}
.dots {
  position: absolute;
  top: 50px;
  max-width: 130px;
  left: -40px;
}

.dots-img-2 {
  position: absolute;
  max-width: 130px;
  bottom: 100px;
  right: 0px;
}
.big-heading-welcome {
  color: #4fadef;
  font-weight: bold;
  font-size: 2.2rem;
}

.big-heading-technova {
  color: #4fadef;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 0.7;
}

.description {
  margin-top: 25px;
  color: #7d7987;
  margin-bottom: 70px;
  max-width: 100%;
  text-align: justify;
  font-size: 0.9rem;
}

.btn-container-explore {
  max-width: 50%;
}

.btn-explore {
  background: linear-gradient(#01d1db, #00add8);
  padding: 10px 30px;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  border: 0;
}

.btn-explore:hover {
  background: linear-gradient(#01d1db, #41bdda);
}

.title-image {
  position: relative;
  max-width: 85%;
  margin-top: 50px;
}
.form-group {
  text-align: left;
}

@media (min-width: 1257px) {
  .title-page {
    background-attachment: fixed;
  }
  .btn-explore {
    min-width: 30%;
  }
}

@media only screen and (max-width: 992px) {
  .title-page {
    text-align: left;
    padding: auto;
    margin: auto;
    max-width: 100%;
    margin-bottom: 100px;
    overflow-x: hidden;
  }
  .container-fluid {
    max-width: 100%;
  }
  .btn-container-explore {
    max-width: 100%;
    margin: 0 auto;
  }

  .btn-explore {
    padding: 10px 15px;
    margin-top: 0;
  }
  .description {
    font-size: 0.7rem;
    margin-top: 0;
  }
  .big-heading-welcome {
    margin-bottom: 15px;
  }

  .btn- .title-page .hero-img {
    text-align: center;
  }

  .title-page .hero-img img {
    width: 60%;
  }
  .tech-logo {
    max-width: 60%;
    margin: auto;
  }
  .collapse {
    text-align: center;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dots {
    position: absolute;
    top: 0px;
    max-width: 100px;
    left: -40px;
  }
  .intro .intro-content p {
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 30px;
  }

  .intro .line-content {
    margin-bottom: 10px;
  }

  .technova .banner .content p {
    margin: auto;
    font-size: 0.8rem;
  }
  .technova .banner .content .listing-container li {
    margin: auto;
  }

  .flowchart {
    margin-top: 600px;
  }
  .flowchart .flowchart-image-1 {
    margin: auto;
    position: absolute;
    display: none;
  }

  .flowchart .images .dots {
    position: absolute;
    top: 0;
    left: 0;
  }
  .flowchart .arrows-main img {
    max-height: 40px;
  }

  .flowchart .flow-container {
    width: 100%;
  }
  .flowchart .arrow-collection img {
    max-height: 25px;
  }
  .flowchart .circle-collection {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    margin: auto 0;
  }
  .flowchart .circle-collection img {
    width: 50px;
  }
  .entrepreneurs .entre-container {
    width: 100%;
  }
  .git-hub .git-container {
    width: 100%;
  }
  .gdsc .entre-container {
    width: 100%;
  }

  .game-drifters .git-container {
    width: 100%;
  }

  .data-pool .entre-container {
    width: 100%;
  }

  .cyber-pirates .git-container {
    width: 100%;
  }

  .tech-hub .entre-container {
    width: 100%;
  }

  .git-hub {
    margin-bottom: 750px;
  }
  .gdsc {
    margin-bottom: 250px;
  }

  .game-drifters {
    margin-bottom: 750px;
  }

  .data-pool {
    margin-bottom: 250px;
  }
  .cyber-pirates {
    margin-bottom: 750px;
  }
  footer .contact {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .big-heading-technova {
    font-size: 28px;
    line-height: 36px;
  }
  .big-heading-welcome {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .title-page .hero-img img {
    width: 70%;
  }
}
@media (max-width: 575px) {
  .title-page {
    text-align: center;
  }
  .title-page .hero-img img {
    width: 80%;
  }
}

/* Mission Vission  */
.intro {
  text-align: center;
  padding: 6% 0;
  height: 100vh;
  background-image: url(/img/blob.png);
  background-repeat: no-repeat;
  background-position: 0 80%;
  background-size: 800px;
  position: relative;
}

.intro-content h3 {
  color: #00a4ca;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 10px;
}

.intro-content p {
  color: hsl(233, 8%, 62%);
  width: 60%;
  margin: 0 auto 70px;
  font-size: 0.9rem;
}
.line-content {
  width: 3%;
  margin: 0 auto;
  border: 1px solid black;
  margin-bottom: 25px;
}

.font-awesome {
  font-size: 3rem;
  color: lightblue;
}

.arrow-down-1 img {
  height: 35px;
  margin-top: 50px;
}

.dots-intro {
  position: absolute;
  top: 50px;
  left: 0;
  max-width: 120px;
  left: 5px;
}

.dots-intro-2 {
  position: absolute;
  right: 5px;
  max-width: 130px;
  bottom: 30px;
}

/* Technova  */

:root {
  --text-color: #98daea;
  --content-color: #bfc0ca;
}
.technova {
  height: 100vh;
  padding: 8% 0;
  position: relative;
}
.container-fluid {
  position: relative;
}
.check {
  margin: 0;
  padding: 0;
}
.logo-container {
  gap: 15px;
  border-bottom: 1px solid var(--text-color);
}
.logo-container figure img {
  height: 170px;
  width: 170px;
  gap: 10px;
}
.logo-container img {
  height: 30px;
  width: 30px;
}
.blog-img {
  position: relative;
}

.phone-mockup {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.image-container {
  margin: auto;
}

.image-container img {
  height: 55vh;
  object-fit: contain;
}

.dots-blob {
  height: 70px;
}

.blob-img:before {
  content: "";
  background-image: url(/img/blob.png);
  background-repeat: no-repeat;
  background-position: 0 80%;
  background-size: 800px;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: -1;
}
.dots-blob.right {
  text-align: right;
}

.dots-technova {
  position: absolute;
  top: 50px;
  left: 0;
  max-width: 120px;
  left: 5px;
}
figcaption {
  margin: auto 0;
}

.banner h1 {
  color: #00b4d8;
  font-weight: 500;
}
.banner h3 {
  color: #7c7d87;
  font-weight: 400;
}
.listing-container {
  padding: 0px;
}
.listing-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.listing-container li img {
  height: 20px;
  object-fit: cover;
  width: 20px;
}
.content p {
  color: #aaaeb7;
  text-align: justify;
  width: 90%;
  line-height: 1.5;
  font-size: 0.9rem;
}
.listing-container li {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 15px;
  flex: 0 0 calc(50% - 30px);
  font-size: 12px;
  color: #aaaeb7;
}
.banner .content {
  padding-top: 30px;
  line-height: 35px;
  font-size: 15px;
}
.video-img-1 {
  position: absolute;
  height: 35px;
  width: 59px;
  right: 48%;
  bottom: -30px;
  cursor: pointer;
}

/* Flowchart  */

.flowchart {
  text-align: center;
  height: 100vh;
  padding: 4% 0;
  position: relative;
}
.images {
  position: relative;
  padding-top: 4%;
}

.images .dots {
  position: absolute;
  top: 50px;
  max-width: 120px;
  left: 40px;
}

.flowchart-image-1 {
  position: absolute;
  right: 15%;
  max-height: 200px;
  bottom: 0;
}

.flowchart-image-1:hover {
  animation: moveUp 2s alternate infinite;
}

@keyframes moveUp {
  from {
    bottom: 0;
  }
  to {
    bottom: 50px;
  }
}
.flowchart-image-2 {
  max-height: 175px;
}

.flow-container {
  border-top: 2px solid #00b4d8;
  border-width: medium;
  width: 60%;
  margin: 20px auto;
}

.arrow-collection {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.arrow-collection img {
  max-height: 35px;
}
.arrows-main img {
  max-height: 50px;
}

.circle-collection {
  margin: 1% auto;
  display: flex;
  width: 80%;
  padding: 0 8%;
  justify-content: space-between;
}
.circle {
  background: #deeefe;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.circle-collection img {
  width: 90px;
}

.circle-collection a {
  max-width: 90px;
}
.circle-collection .gdsc-img-logo {
  width: 100px;
  margin-top: 8px;
}
.arrow-container {
  margin-top: 180px;
}

.arrow-container img {
  height: 35px;
}

.flowchart-dots {
  position: absolute;
  bottom: 50px;
  max-width: 130px;
  right: 40px;
}

/* All clubs containers */
.club-main-heading {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.club-heading {
  display: inline-block;
  color: #00a4ca;
  font-weight: 400;
  margin: auto auto;
  margin-left: 20px;
  font-size: 1.8rem;
}

.club-logo {
  border-radius: 50%;
  max-width: 90px;
}

.club-content {
  margin-top: 20px;
  color: #00a4ca;
  font-weight: 500;
  font-size: 0.8rem;
  width: 100%;
  text-align: justify;
}

.listing-container {
  margin-top: 10px;
}

.div-club-content .listing-container li {
  color: #00a4ca;
  font-size: 0.8rem;
}

.join {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.btn-join {
  padding: 10px 25px;
  background-color: white;
  border-radius: 10px;
  border: 0;
  color: #409db5;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
}

.btn-join:hover {
  background-color: #eee;
}

.btn-join img {
  height: 20px;
  margin-right: 2px;
  vertical-align: middle;
}

.entrepreneurs .video-img-2 {
  position: absolute;
  height: 35px;
  width: 59px;
  right: 48%;
  bottom: -70px;
  cursor: pointer;
}

/* Entrepreuners Club  */

.entrepreneurs {
  height: 100vh;
  padding: 8% 8%;
  position: relative;
}
.entre-container {
  background-color: #caf0f8;
  border-radius: 20px;
  padding: 2% 3%;
  width: 45%;
  box-shadow: 3px 3px 8px #88888885;
}
.entrepreneurs .div-club-content .listing-container {
  color: #00a4ca;
  font-size: 0.8rem;
  gap: 30px;
}

.startup-img {
  max-width: 80%;
  margin-top: 150px;
  margin-left: 50px;
}

.entrepreneurs-dots {
  position: absolute;
  top: 30px;
  max-width: 120px;
  left: 0;
}

.entre-container .clubs-arrow {
  margin-top: 50px;
}

.dots-entrepreneurs-2 {
  position: absolute;
  max-width: 130px;
  bottom: 50px;
  right: 20px;
}

/* Git Hub Club   */
.git-hub {
  height: 100vh;
  position: relative;
  padding: 2% 5%;
}

.git-container {
  background-color: #caf0f8;
  border-radius: 20px;
  padding: 3%;
  width: 45%;
  box-shadow: 3px 3px 8px #88888885;
}

.img-git-hub {
  max-width: 80%;
  margin-top: 150px;
  margin-right: 50px;
}

.dots-git-hub-2 {
  position: absolute;
  max-width: 130px;
  bottom: 20px;
  right: 30px;
}

.git-hub .video-img-2 {
  position: absolute;
  height: 35px;
  width: 59px;
  right: 48%;
  bottom: -70px;
  cursor: pointer;
}

/* GDSC  */

.gdsc {
  height: 100vh;
  position: relative;
  padding: 2% 5%;
}

.img-gdsc {
  max-width: 60%;
  margin-top: 120px;
  margin-left: 150px;
}

.dots-gdsc-hub-2 {
  position: absolute;
  max-width: 130px;
  bottom: 15px;
  left: 10px;
}

.gdsc .video-img-2 {
  position: absolute;
  height: 35px;
  width: 59px;
  right: 48%;
  bottom: -30px;
  cursor: pointer;
}

/* Game Drifters  */
.game-drifters {
  height: 100vh;
  padding: 2% 5%;
  position: relative;
}

.img-game-drifters {
  max-width: 60%;
  margin-top: 150px;
  margin-left: 100px;
}

.dots-game-drifters-2 {
  position: absolute;
  max-width: 130px;
  bottom: 20px;
  right: 30px;
}

.game-drifters .video-img-2 {
  position: absolute;
  height: 35px;
  width: 59px;
  right: 48%;
  bottom: -70px;
  cursor: pointer;
}
/* Data Pool Club  */
.data-pool {
  height: 100vh;
  position: relative;
  padding: 3% 8%;
}
.data-pool .div-club-content .listing-container {
  color: #00a4ca;
  font-size: 0.8rem;
  gap: 25px;
}

.data-pool-container {
  background-color: #caf0f8;
  border-radius: 20px;
  padding: 3%;
  width: 45%;
  box-shadow: 3px 3px 8px #88888885;
}

.data-pool .video-img-2 {
  position: absolute;
  height: 35px;
  width: 59px;
  right: 48%;
  bottom: -70px;
  cursor: pointer;
}
/* Cyber Pirates  */

.cyber-pirates {
  height: 100vh;
  padding: 3% 5%;
  position: relative;
}

.cyber-pirates .div-club-content .listing-container {
  color: #00a4ca;
  font-size: 0.8rem;
  gap: 25px;
}
.img-cyber-pirates {
  max-width: 60%;
  margin-top: 150px;
  margin-left: 100px;
}

.cyber-pirates .video-img-2 {
  position: absolute;
  height: 35px;
  width: 59px;
  right: 48%;
  bottom: -70px;
  cursor: pointer;
}
/* TechHub Club  */
.tech-hub {
  height: 100vh;
  position: relative;
  padding: 5% 8%;
}

.img-tech-hub {
  max-width: 60%;
  margin-top: 150px;
  margin-left: 150px;
}

.clubs-arrow img {
  max-width: 35px;
}

footer img {
  max-width: 100%;
}

.down:hover {
  animation: animate 2s alternate infinite;
  position: relative;
}

.up:hover {
  animation: animate 2s alternate infinite;
  position: relative;
}

/* Animation of images  */
@keyframes animate {
  from {
    bottom: 0;
  }
  to {
    bottom: 50px;
  }
}

/* Form  */

.btn-register-now {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-now {
  padding: 10px 15px;
  margin-top: 80px;
  background-color: #00b4d8;
  border-radius: 15px;
  color: white;
  border: 2px solid #1f98bc;
  cursor: pointer;
  text-decoration: none;
}
.register-now:hover {
  color: white;
}

.register {
  height: 100vh;
  padding: 2% 0;
  color: #00b4d8;
  position: relative;
  text-align: center;
}
:root {
  --blue-color: #41bdda;
}

.form-container {
  padding: 0px;
  width: 70%;
  margin: auto;
}

.form-container .form-group {
  list-style: none;
  margin-bottom: 10px;
}

.register img {
  height: 20px;
  width: 20px;
}

.form-container .form-group figure {
  display: flex;
  gap: 10px;
  align-items: center;
}

.form-control {
  height: 35px;
}

.form-control::placeholder {
  color: #7d7987a6;
}

.form-container .form-group figure figcaption {
  font-weight: 400;
  color: var(--blue-color);
  font-size: 0.9rem;
}

.form-gro .form-page-container h5 {
  color: var(--blue-color);
  text-align: center;
  padding-top: 20px;
}

.form-container .form-group input {
  background-color: #caf1f8;
  border: none;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
}

.img {
  vertical-align: middle;
  border-style: none;
  height: 20px;
  width: 20px;
}
.btn-container button:nth-child(1) {
  background-color: #caf1f8;
  color: var(--blue-color);
  border: none;
  border-radius: 30px;
  font-size: 15px;
  padding: 10px 30px;
}

.form-group span {
  color: #7d7987;
  font-size: 0.9rem;
}

.btn-container button:nth-child(2) {
  border: 1px solid var(--blue-color);
  background: transparent;
  color: var(--blue-color);
  border-radius: 30px;
  font-size: 15px;
  padding: 10px 30px;
}
.btn-container button:nth-child(2):hover {
  background-color: #1f98bc;
  color: white;
  transition: 0.4s ease-in-out;
}

/* Footer  */
footer {
  padding: 40px 80px;
  background-color: #00a5d0;
  display: block;
  color: white;
  position: relative;
}
.footer h4 {
  font-size: 2rem;
}

.contact {
  text-align: right;
}
.copyright {
  position: absolute;
  display: inline;
}
